body {
	font: 400 16px/1.3 'Open Sans', sans-serif;
}

h1 {
	font-size: 18px;
	font-weight: 700;
	padding: 15px 0 20px;
}

.sistema span, .sistema .beta { font-weight: 600; }
.beta { padding: 15px 0 5px; }
.beta, .cinza { color: #131111; }

.sistema {
	display: flex;
	justify-content: center;
	margin: 0 20px;
}

.sistema.original,
.sistema.teste {
	display: inline-block;
}

.tabela-iteracoes {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 20px;
}

.tabela-iteracoes {
	margin-bottom: 30px;
	flex: 0 0 100%;
}

.tabela-iteracoes table {
	border: 1px solid #ccc;
	margin: 0 auto 0;
	width: 500px;
}

.tabela-iteracoes th {
	border: 1px solid white;
	background-color: black;
	color: white;
	font-size: 15px;
	line-height: 25px;
}

.tabela-iteracoes td {
	border: 1px solid #ccc;
	font-size: 13px;
	line-height: 25px;
	padding: 0 10px;
	text-align: center;
}
