body {
	font: 400 13px/1 'Open Sans', sans-serif;
}

.tabela-iteracoes {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 20px;
}

.tabela-iteracoes {
	margin-bottom: 30px;
	flex: 0 0 100%;
}

.tabela-iteracoes table {
	border: 1px solid #ccc;
	margin: 0 auto 0;
	width: 500px;
}

.tabela-iteracoes th {
	border: 1px solid white;
	background-color: black;
	color: white;
	font-size: 15px;
	line-height: 25px;
}

.tabela-iteracoes td {
	border: 1px solid #ccc;
	font-size: 13px;
	line-height: 25px;
	padding: 0 10px;
	text-align: center;
}
